# Database
POSTGRES_USER=grimoire_user
POSTGRES_PASSWORD=changeme_db_password
POSTGRES_DB=grimoire_db
DB_HOST=grimoire-db

# Auth
JWT_SECRET=changeme_jwt_secret_very_long_random_string

# Admin seed user
ADMIN_NAME=admin
ADMIN_PASSWORD=changeme_admin_password

# App
#API_PUBLIC_URL=https://grimoire.yourdomain.com
API_PUBLIC_URL=http://localhost:3002
GRIMOIRE_DATA_PATH=./appdata
NODE_ENV=development

